header {
  background-color: #fff;

  .header-container {
    width: 85%;

    padding: 2.4rem 0;

    display: flex;
    justify-content: flex-end;
    gap: 4rem;

    a {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 2.3rem;

      text-decoration: none;
    }

    nav {
      display: flex;
      gap: 4rem;

      a {
        color: #2F2222;

        &:hover {
          color: #5D71DD;
          text-decoration: underline;
        }
      }
    }

    .header-container__phone {
      display: flex;
      align-items: center;
      gap: 1rem;

      a {
        color: #5D71DD;
        font-weight: 450;
      }
    }
  }
}
